.box1{
    width: 33.3%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    border-radius: 5px;
    margin-left: 80px;
}
.box2{
    width: 33.3%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    border-radius: 5px;
    margin-left: 80px;
}
.box3{
    width: 33.3%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    border-radius: 5px;
    margin-left: 80px;
}
.box4{
    width: 33.3%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    border-radius: 5px;
    margin-left: 80px;
}
.box5{
    width: 33.3%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    border-radius: 5px;
    margin-left: 80px;
}
.box6{
    width: 33.3%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    border-radius: 5px;
    margin-bottom: 80px;
}
.box7{
    width: 33.3%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    border-radius: 5px;
    margin-left: 80px;
}
.box8{
    width: 33.3%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    border-radius: 5px;
    margin-left: 80px;
}
.box9{
    width: 33.3%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    border-radius: 5px;
    margin-left: 80px;
}